// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.days-group .list-group-item{
	padding: 10px;
}

.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.student-form {
	padding-left: 1%;
}

td {
	 vertical-align: middle !important;
}

.student-index {
	padding-bottom: 5%;
}

table thead {
	border-top: none;
	border-bottom: none;
	background-color: #FFF;
}

table.tablesorter thead tr .header {
	background-image: asset-data-url("bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 1.8%;
}

.nowrap {
   	white-space: nowrap;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #d9edf7;
}

table.tablesorter .headerSortUp {
	background-image: asset-data-url("asc.gif") !important;
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: asset-data-url("desc.gif") !important;
	background-repeat: no-repeat;
}

.toggle {
	min-width: 100px !important;
}